<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Route Tracker</title>
    <link rel="stylesheet" href="~/dist/index.css" asp-append-version="true">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Route Tracker</a>

                <partial name="_UserProfile" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="fixed-bottom mb-5" id="collector-wrapper">

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyRouteTracker.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/dist/index.js"></script>
    <script>
        htmx.logAll();
        let clientId = '@System.Guid.NewGuid()'
        let ingesterUrl = '@Url.Content("~/api/ingest")';
        let errorsUrl = '@Url.Content("~/api/ingest/errors")';
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
