@model RouteDataSetViewModel

<div class="container shadow-sm p-2 bg-body-tertiary rounded" id="collector-container"
    data-userId="@Model.UserProfileId" data-routeId="@Model.Id">
    <div class="row">
        <div class="col">
            <strong><span class="pe-2">Console</span><span id="client-id"></span><i
                    class="bi bi-arrows-collapse"></i></strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea id="console-log" readonly style="width: 100%; min-height: 200px;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [@Model.Name]
        </div>
        <div class="col">
            <span id="heading"></span>
        </div>
        <div class="col-3 col-sm-2 text-center">
            <button class="btn btn-primary" role="button" id="collect-pause">
                <i class="bi bi-pause"></i><span class="d-none d-sm-inline">Pause</span>
            </button>
            <a class="btn btn-primary d-none" role="button" id="collect-resume">
                <i class="bi bi-play-fill"></i> <span class="d-none d-sm-inline">Resume</span>
            </a>
            <button class="btn btn-light" id="collect-finish">
                <i class="bi bi-x-lg"></i> <span class="d-none d-sm-inline">Finish</span>
            </button>
        </div>
    </div>
</div>
<script>
    (function () {
        let instance = GeoLocationSensor.getInstance();
        if (instance.enabled) {
            instance.stop();
            appendToConsole({ m: "Instance stopped" });
        } else {
            appendToConsole({
                m: "Starting instance",
                userId: '@Model.UserProfileId',
                routeId: '@Model.Id'
            });
            instance = GeoLocationSensor.start('@Model.UserProfileId', '@Model.Id');
        }
        $("#client-id").text(clientId);
    })();
</script>